	<div class="loading" *ngIf="!this.server">
		Loading
	</div>

	<div class="error" *ngIf="false">
		<h1 class="title" translate>#ServerDetail_ServerInvalid</h1>
		<p>
			<span>{{error}}</span> <span translate>#ServerDetail_ServerInvalid_SubTitle</span>
		</p>
	</div>

	<div class="info one-info" *ngIf="this.server">
		<div class="bg" [style.background-image]="'url(' + ((server && server.sanitizedUri)||'http://picsum.photos/128/128') + ')'"></div>

		<figure class="icon">
			<img [src]="(server && server.sanitizedUri)||'http://picsum.photos/128/128'">
		</figure>

		<h1 class="title" [innerHTML]="(server && server.hostname)||'test' | escape | colorize"></h1>

		<ul class="desc">
			<li *ngIf="server && server.data.gametype">
				<span class="key">Game type:</span>
				<span>{{(server && server.data.gametype)||'Game type'}}</span>
			</li>
			<li *ngIf="server && server.data.mapname">
				<span class="key">Map:</span>
				<span>{{(server && server.data.mapname)||'Map name'}}</span>
			</li>
			<li class="address" *ngIf="server && server.showAddr">
				<span class="key">Address:</span>
				<span class="select">{{(server && server.address)||'undefined'}}</span>
			</li>
			<li>
				<span class="key">Players:</span>
				<span>{{(server && server.currentPlayers)||0}}/{{(server && server.maxPlayers)||32}}</span>
			</li>
			<li *ngFor="let svVar of serverVariables">
				<span class="key">{{svVar.key|translate:lang}}:</span>
				<span>{{svVar.value|translate:lang}}</span>
			</li>
		</ul>

		<div class="server-buttons">
			<button class="connect" (click)="attemptConnect()" translate>
				#DirectConnect_Connect
			</button>
			<button class="unimportant favorite" (click)="addFavorite()" *ngIf="!isFavorite()" translate>
				#ServerDetail_AddFavorite
			</button>
			<button class="unimportant favorite" (click)="removeFavorite()" *ngIf="isFavorite()" translate>
				#ServerDetail_DelFavorite
			</button>
			<button class="unimportant refresh" (click)="refreshServer()" [class.disabled]="!canRefresh" translate>
				#ServerDetail_Refresh
			</button>
			<button class="unimportant back" (click)="goBack()" translate>
				#ServerDetail_Back
			</button>
		</div>
	</div>

	<div class="banner" *ngIf="this.server && this.server.data.vars && this.server.data.vars.banner_detail">
			<div>
				<img [src]="this.server.data.vars.banner_detail">
			</div>
	</div>


	<div class="info player-list" *ngIf="this.server" [class.withBanner]="this.server && this.server.data.vars && this.server.data.vars.banner_detail">
		<h1 translate>#ServerDetail_Players</h1>
		<span *ngIf="server.data.players.length == 0" translate>#ServerDetail_PlayersEmpty</span>
		<ul [class.huge]="server && server.data && server.data.players.length > 64">
			<li *ngFor="let player of server.data.players"><app-player-avatar [player]="player"></app-player-avatar>
				<span>
					{{player.name}}
				</span></li>
		</ul>
		<div class="count">{{server.data.players.length}}</div>
	</div>

	<div class="info resource-list" *ngIf="this.server" [class.withBanner]="this.server && this.server.data.vars && this.server.data.vars.banner_detail">
		<p>{{ resourceString }}</p>

		<div class="count">{{ resourceCount }}</div>
	</div>
